<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>枚举中的位运算Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7E5C9A51E51AF4E00D903F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7E5C9BE1E51AF4F00D903F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7E5C9C91E51AF4F00D903F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
